# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment files
.env
.env.*.local

# IDEs e editores (opcional, mas ajuda)
.vscode/
.idea/
.DS_Store

# Sistema operativo (opcional)
Thumbs.db
.env
.env
